aiohttp==2.3.1
async-timeout==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-Wizard==0.5.6
future==0.16.0
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
multidict==3.3.0
PyJWT==1.5.3
requests==2.18.4
six==1.11.0
slackclient==1.0.9
telepot==12.4
urllib3==1.22
websocket-client==0.44.0
Werkzeug==0.12.2
wget==3.2
yarl==0.13.0
